{%- style -%}
  .fh-section--product-category-grid {
    display: flex;
    flex-direction: row;
    min-height: 50vw;
    max-height: 600px
  }

  .fh-section--product-category-grid .content {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    background-color: #eaeaea;
    position: relative;
    color: #ffffff;
    width: 50%;
  }

  .fh-section--product-category-grid .content p {
    max-width: 100%;
    width: 500px;
  }

  .fh-section--product-category-grid .content .background {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .fh-section--product-category-grid .content .background:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0,0,0,.65) 0%, rgba(255,255,255,0) 100%);
  }

  .fh-section--product-category-grid .content .background img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }

  @media only screen and (max-width: 768px) {
    .fh-section--product-category-grid {
      min-height: 0;
      max-height: unset;
      flex-direction: column;
    }

    .fh-section--product-category-grid .content {
      padding: 150px 20px 40px;
      width: 100%;
    }
  }
{%- endstyle -%}

<div class="fh-section--product-category-grid">
  {% comment %} Content Left {% endcomment %}
  <div class="content content-left" data-aos>
    <div class="background">
      {%- render 'image-element'
        , img: section.settings.image_left,
        classes: 'image-background',
        sizes: sizes,
        sizeVariable: sizeVariable,
        fallback: fallback, -%}
    </div>


    <div class="divider"></div>
    <h2 class="h1 appear-delay">{{ section.settings.heading_left }}</h2>
    <p class="appear-delay-1">{{ section.settings.description_left }}</p>
    <a href="{{ section.settings.btn_left_url }}" class="btn btn--inverse appear-delay-2">
      {{ section.settings.btn_left_text }}
    </a>
  </div>

  {% comment %} Content Right {% endcomment %}
  <div class="content content-right" data-aos>
    <div class="background">
      {%- render 'image-element'
        , img: section.settings.image_right,
        classes: 'image-background',
        sizes: sizes,
        sizeVariable: sizeVariable,
        fallback: fallback, -%}
    </div>

    <div class="divider"></div>
    <h2 class="h1 appear-delay">{{ section.settings.heading_right }}</h2>
    <p class="appear-delay-1">{{ section.settings.description_right }}</p>
    <a href="{{ section.settings.btn_right_url }}" class="btn btn--inverse appear-delay-2">
      {{ section.settings.btn_right_text }}
    </a>
  </div>
</div>

{% schema %}
  {
    "name": "Product Category Grid",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_left",
        "label": "Image left"
      },
      {
        "type": "text",
        "id": "heading_left",
        "label": "Heading left text",
        "default": "Haircare"
      },
      {
        "type": "text",
        "id": "description_left",
        "label": "Description left text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"
      },
      {
        "type": "text",
        "id": "btn_left_text",
        "label": "Button left text",
        "default": "SHOP NOW"
      }, {
        "type": "url",
        "id": "btn_left_url",
        "label": "Button left URL"
      }, {
        "type": "image_picker",
        "id": "image_right",
        "label": "Image right"
      }, {
        "type": "text",
        "id": "heading_right",
        "label": "Heading right text",
        "default": "Skincare"
      }, {
        "type": "text",
        "id": "description_right",
        "label": "Description right text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"
      }, {
        "type": "text",
        "id": "btn_right_text",
        "label": "Button right text",
        "default": "SHOP NOW"
      }, {
        "type": "url",
        "id": "btn_right_url",
        "label": "Button right URL"
      }
    ],
    "presets": [],
    "disabled_on": {
      "groups": ["custom.popups"]
    }
  }
{% endschema %}